<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>VeganBot</title>    
		<link rel="author" href="humans.txt">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
		<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="vegan_bot.js"></script>
	</head>
	<body ng-app="VeganBotApp" ng-controller="VeganBotController">

		<h1>VeganBot</h1>
		<div id="main">
			<table>
				<caption>Justifications</caption>
				<tr ng-repeat="x in justifs track by $index">
					<td>{{$index}}</td>
					<td>{{x}}</td>
				</tr>
			</table>
			<table>
				<caption>Answers</caption>
				<tr ng-repeat="x in answers track by $index">
					<td>{{$index}}</td>
					<td>{{x}}</td>
				</tr>
			</table>
		</div>

	</body>
</html>